.App {
  text-align: center;
  /* background-color: aliceblue; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding: 20px;
  margin-top: 30px;
  background-color: hsl(0, 0%, 74%);
  min-height: 45vh;
  display: flex;
  /* flex-direction: column; */
  gap: 30px;

  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);

  /* color: white; */
  text-align: center;
}
