* {
  margin: 0;
  padding: 0;
  font-family: "Martian Mono", monospace;
}

body {
  background-color: rgb(31, 31, 31);
}

.playing-area {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 5;
  color: white;
}

button {
  padding: 8px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0 10px 30px 10px;
  width: 100px;
}

.buttons {
  display: flex;
}

h1 {
  text-transform: uppercase;
  font-weight: 200;
  color: rgb(38, 38, 38);
  letter-spacing: -4vw;
  font-size: 40vw;
}

#high {
  position: fixed;
  top: -5vw;
}

#card {
  position: fixed;
  bottom: -3vw;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 380px;
  background-color: rgb(50, 50, 50);
  padding: 0 20px;
  border-radius: 20px;
}

.black-card,
.red-card {
  background-color: white;
  font-size: 40px;
  width: 120px;
  height: 180px;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.card-top,
.card-bottom {
  width: 100%;
  text-align: left;
}

.card-bottom {
  transform: rotate(180deg);
}

.black-card p {
  color: black;
}

.red-card p {
  color: red;
}

.scores h4 {
  font-weight: 300;
  margin: 10px;
}
