.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Roboto;
}

.card {
  display: flex;
  border: 1px white solid;
  padding: 0.5em;
  width: 5em;
  height: 7em;
  position: relative;
  flex-flow: row wrap;
}

.top-suit {
  text-align: left;
  flex: 100%;
}

.bottom-suit {
  text-align: right;
  flex: 100%;
}

.rank {
  text-align: center;
  flex: 100%;
}

.card-holder {
  display: flex;
  gap: 1em;
}

.Spades {
  color: black;
}

.Hearts {
  color: red;
}

.Diamonds {
  color: blue;
}

.Clubs {
  color: green;
}
