body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* 
button {
  transition-duration: 0.1s;
  background-color: #d55456;
  border-radius: 8px;
  border-bottom: 4px solid #913c3d;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
}

button:hover {
  background-color: #ff7375;
  border: none;
  border-radius: 8px;
  border-bottom: 4px solid #c24648;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
} */

img .bg-light {
  width: 10px;
}
