body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.border1 {
  border: 1px solid whitesmoke;
}

.button-spacing {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: aqua;
  color: maroon;
  font-weight: bold;
  border-radius: 20px;
  padding: 20px;
}
